* {
    margin: 0;  
    font-family: 'Poppins', sans-serif;
}

html {
   background-color:#C9E265;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
    background-color: transparent;
}

h2 {
    text-align: center;
    width: 700px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-color: black;
    grid-row: 1 / 3;
    grid-column: 3 / 3;
}

h3 {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

h4 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

/* Box surrounding the top bar. */

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

 
    height: 150px;
}

#overlay {
    position: absolute;
    margin: auto;
    margin-top: 15px
   
}

#banner {
 width: 100%;
}

#search-form {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    flex-direction: column;
}

#search-input {
    width: 240px;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    border-color: darkgreen;
}

#submitbtn {
    transition: all .5s ease;
    color: goldenrod;
    border: 2px solid goldenrod;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    background-color : white;
    padding: 4px;
    margin: 5px;
    width: 70px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitbtn:hover {
    color: white;
    background-color: goldenrod;
}

#search-input::placeholder {
    text-align: center;
    font-size: 16px;;
}

/* Holds results cards. */
.results-container {
    display: flex; 
    justify-content: center; 
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 20px;
    padding: 4px;
}
  
/* Holds map. */
#map {
    height: 700px;
    color: black;
    border-style: double;
    border-width: 5px;
    background-color: rgb(240, 214, 71);
    border-radius: 4px;
    flex-basis: 70%;
}

#results-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    color: black;
    border-style: double;
    background-color: rgb(240, 214, 71);
    border-radius: 4px;
    border-width: 5px;
    
    flex-basis: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    text-align: left;
}

/* Button to show search history */
#hider {
    width: 150px;
    margin: 5px;
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease;
    color: goldenrod;
    border: 2px solid goldenrod;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    background-color : white;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

#saved-cities {
    flex-direction: column;
    display: none;
}

button {
    width: 200px;
    background-color: white;
    border-color: goldenrod;
    font-size: 14px;
    padding: 4px; 
    font-weight: bold;
    color: goldenrod;
    cursor: pointer;
}
/* ----------Media Queries------------ */

@media screen and (max-width: 850px) {
    .results-container {
        flex-direction:column-reverse;
        justify-content: center;
        align-content: center;
        margin: 1px; 
    }  

    #map {
        width: 700px; 
        height: 500px;
    }

    #results-cards {
        width: 700px; 
    }

    #search {
        padding: 15px; 
        background-color: black; 
        display: grid;
        height: 110px;
        margin-left: auto;
    }

    #search-input {
        margin-left: 40px; 
}

@media screen and (max-width: 480px) {
    .results-container {
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        margin: 1px; 
    }  

    #map {
        width: 350px; 
        height: 300px;
    }

    #results-cards {
        width: 350px; 
    }
}};
