* {
    margin: 0;  
    font-family: 'Poppins', sans-serif;
}

html {
    background-image: url("../images/dog-collage-colorful.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
  
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: black;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-color: black;
}

h3 {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

h4 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#search {
    padding: 15px; 
    background-color:  black; 
    display: grid;
    height: 120px;
}

#search-form {  
    padding: 10px;
}

#search-input {
    width: 240px;
    border-radius: 4px;
    padding: 4px;
}

#submitbtn {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    background-color : transparent;
    padding: 4px;
    width: 50px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitbtn:hover {
    color: #001F3F;
    background-color: #fff;
}

#search-input::placeholder {
    text-align: center;
}

.results-container {
    display: flex; 
    justify-content: space-around; 
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 20px;
    padding: 4px;
    gap: 10px;
}

#map {
    height: 700px;
    color: black;
    border: solid;
    border-width: 3px;
    background-color: rgb(240, 214, 71);
    border-radius: 4px;
    flex-basis: 70%;
}

#results-cards {
    height: 700px;
    color: black;
    border: solid;
    background-color: rgb(240, 214, 71);
    border-radius: 4px;
    border-width: 3px;
    border-left: 1px;
    flex-basis: 30%;
    overflow: scroll
}

.card {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    text-align: left;
}
icon {
    height: 15px;
    width: 15px;
}

saved-cities {
    display: none;
}

/* ----------Media Queries------------ */

@media screen and (max-width: 850px) {
    .results-container {
        flex-direction:column-reverse;
        justify-content: center;
        align-content: center;
        margin: 1px; 
    }  

    #map {
        width: 700px; 
        height: 500px;
    }

    #results-cards {
        width: 700px; 
    }

    #search {
        padding: 15px; 
        background-color:  black; 
        display: grid;
        height: 110px;
        margin-left: auto;
    }

    #search-input {
        margin-left: 40px; 
}

@media screen and (max-width: 480px) {
    .results-container {
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        margin: 1px; 
    }  

    #map {
        width: 350px; 
        height: 300px;
    }

    #results-cards {
        width: 350px; 
    }
}};
