* {
    margin: 0;  
    font-family: 'Poppins', sans-serif;
}

/* html {
    background-image: url("/assets/images/dog-collage-colorful.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
    
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 15%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 16px; 
    margin-top: 20px; 
}
.input {
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    font-size: 20px;
}

.button {
    width: 150px;
}

#submitBtn {
    width: 100px; 
    margin-top: 2px; 
    cursor: pointer;
}

.random-dogs {
    width: 300px;
    height: 300px;
    
}

#joke--text {
    font-family: Roboto, sans;
  }