* {
    margin: 0;  
    font-family: 'Poppins', sans-serif;
}

/* html {
    background-image: url("/assets/images/dog-collage-colorful.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
    
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 15%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background-color: transparent;
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 16px; 
    margin-top: 30px; 
}

h3 {
    font-size: 12px; 
}

.input {
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    font-size: 20px;
}

.button {
    width: 150px;
}

#submitBtn {
    width: 100px;
    transition: all .5s ease;
    color: black;
    border: 3px solid black;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color : white;
    padding: 4px;
    outline: none;
    border-radius: 4px;
    cursor: pointer; 
    margin-top: 2px;     
}

#submitBtn:hover {
    background-color: green;
    color: white;
}

.random-dogs {
    width: 300px;
    height: 300px;
    
}

