* {
    margin: 0;  
    font-family: 'Poppins', sans-serif;
}

html {
    background-image: url("assets/images/dog-collage-colorful.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Main box on front page of site. */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 20%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 18px; 
    margin-top: 10px;
    color: black; 
}

/* Dog Town logo */
#dog-button {
   margin-top: 10px;
}

/* Changes size of logo so you know you can click and enter */
#dog-button:hover {
 
    transform: scale(1.1);
    transition: 0.4s;  
}


/* Add media queries */